@{
    ViewData["Title"] = "ProjectsList";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/VT/Views/Shared/_Layout.cshtml";
}

<style>
    .tablebutton {
        width: 100px !important;
        padding: 9px !important;
        font-size: 12px !important;
    }

    td:has(input.tablebutton) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
</style>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title mb-0">Project List</p>
                <div class="table-responsive">
                    <table class="table table-striped table-borderless" id="Projects">
                        <thead>
                            <tr>
                                <th>Project Number</th>
                                <th>Project Name</th>
                                <th>LOI</th>
                                <th>Project Start Date</th>
                                <th>Project End Date</th>
                                <th>URL Mapping</th>
                                <th>Edit</th>
                                <th>Active(Yes/No)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function getStatusButtons(projectId, isActive) {
            const active = Number(isActive) === 1;
            if (active) {
                return `<input type="button" class="btn btn-success tablebutton" value="Yes" onclick="ChangeProjectStatus(${projectId},0,this)" />`;
            }

            return `<input type="button" class="btn btn-danger tablebutton" value="No" onclick="ChangeProjectStatus(${projectId},1,this)" />`;
        }

        $(document).ready(function () {

            $('#Projects').DataTable(
                {
                    ajax: {
                        url: "/VT/Projects/GetProjectList",
                        type: "POST",
                        //success: function (response) {
                        //    //alert("S");
                        //}
                    },
                    "createdRow": function (row, data, dataIndex) {
                        $(row).attr('vendorid', data.Id);
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    columns: [
                        { data: "pid", name: "pid" },
                        { data: "pname", name: "pname" },
                        { data: "loi", name: "loi" },
                        { data: "sdate", name: "sdate" },
                        { data: "edate", name: "edate" },
                        {
                            "data": "projectId",
                            "autoWidth": true,
                            "searchable": true,
                            createdCell: function (td) {
                                $(td).addClass('p-0');
                            },
                            render: function (v, d, rowData) {
                                let res = '<input type="button" class="btn btn-primary btn-sm tablebutton" value="URL Mapping">';
                                return res;
                            }
                        },
                        {
                            "data": "projectId",
                            "autoWidth": true,
                            "searchable": true,
                            createdCell: function (td) {
                                $(td).addClass('p-0');
                            },
                            render: function (v, d, rowData) {
                                let res = '<input onclick="javascript:window.location.href=\'/VT/Projects/AddProject/' + rowData.projectIdEnc + '\'" type="button" class="btn btn-info tablebutton" value="Edit">';
                                return res;
                            }
                        },
                        {
                            "data": "isActive",
                            "autoWidth": true,
                            "searchable": true,
                            createdCell: function (td) {
                                $(td).addClass('p-0');
                            },
                            render: function (v, d, rowData) {
                                return getStatusButtons(rowData.projectId, rowData.isActive);
                            }
                        }
                    ],
                    "order": []
                }
            );
        });

        function ChangeProjectStatus(projectId, status, curObj) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to change the status!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, change it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary'
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    BlockUI();
                    const inputDTO = {
                        projectId: projectId,
                        status: status
                    };
                    $.ajax({
                        type: "POST",
                        url: "/VT/Projects/ChangeProjectStatus",
                        contentType: 'application/json',
                        data: JSON.stringify(inputDTO),
                        success: function () {
                            UnblockUI();
                            $successalert("success", "Status Changed");
                            const table = $('#Projects').DataTable();
                            table.ajax.reload(null, false);
                        },
                        error: function (error) {
                            UnblockUI();
                            const message = error.responseText || 'Unable to change status';
                            $erroralert("Error!", message);
                        }
                    });
                }
            });
        }
    </script>
}


