
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerHeader">
    <div class="inner_Page_title">
        <h2>About <span>Consultings </span></h2>
    </div>
    <img loading="lazy" alt="" src="~/assets/img/about-bg.png">
</div>


<section class="company_profile">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto s_title text-center">
                <h2>Welcome to 08 Consultings</h2>
                <p>For over 13 years, 08 Consultings has been at the forefront of Data Analytics, Innovation, and Technology Advancement, serving clients in India and across the globe. With a portfolio of over 1000+ successfully delivered projects, we have established ourselves as a trusted partner for businesses seeking efficiency and quality in data-driven decision-making.</p>
                <a href="#" class="knowMore">Know More</a>
            </div>
        </div>
        <!--     <div class="row">
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon1.svg"></figure>
                  <h2>Mission</h2>
                  <p>Converting the thoughts to reality through the use of technology and best consulting, thus making everything looks easy &amp; very possible.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon2.svg"></figure>
                  <h2>Vision</h2>
                  <p>To be one of the most technological advance company in Market Research Space.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon3.svg"></figure>
                  <h2>Core Value</h2>
                  <p>Our people, Our Experience, Our Commitment, Our Delivery, Our Knowledge, Our Output</p>
                </div>
              </div>
             </div> -->
    </div>
</section>

<!-- project counter -->
<section class="project_counter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="p_box">
                    <h2>1000+</h2>
                    <span>Automations</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p_box">
                    <h2>100+</h2>
                    <span>Customers</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p_box">
                    <h2>10+</h2>
                    <span>Technologies</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- company_profile -->
<section class="company_profile whychooseUs">
    <div class="container">
        <div class="row">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="services_box services_box2">
                        <p>
                            Founded in November 2013, 08 Consulting was born from a vision to provide clean, accurate, and actionable data for diverse research and business decision-making needs. We believe that reliable data is the cornerstone of progress and innovation, and our commitment to 100% accuracy and precision drives every aspect of our work. <br>
                            <br>
                            At 08 Consulting, our global team of expert consultants delivers cutting-edge services in data analysis, advanced statistical modeling, automation, and strategic advisory. We empower organizations worldwide to make data-informed decisions that fuel growth, optimize processes, and unlock new opportunities in the digital landscape. Our expertise spans an array of services, including:
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="services_box services_box2">
                        <p>
                            Data Analysis & Advanced Statistical Modeling: Leveraging robust statistical techniques, we transform complex datasets into meaningful insights, driving clarity and precision for strategic decision-making.
                            <br>
                            Automation & Efficiency Solutions: Our automation services streamline workflows, enhance productivity, and reduce human error, allowing businesses to focus on core objectives with optimal efficiency.
                            <br>
                            Data Science Innovation & AI Implementation: As pioneers in the field of data science, we develop and implement AI-driven solutions that simulate, predict, and enhance performance outcomes—helping our clients stay ahead in a rapidly evolving world.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="services_box services_box2">
                        <p>
                            Visualization & Reporting: We transform raw data into visually compelling and easy-to-understand dashboards and reports, enabling businesses to interpret insights at a glance and make swift, informed decisions.
                            <br>
                            From data cleaning to advanced analytical modeling, 08 Consulting is setting new standards in the industry. Our commitment to innovation, precision, and client satisfaction has established us as a trusted partner to organizations worldwide. We’re here to help convert thoughts into reality, one data-driven insight at a time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Resources start -->

<section class="business_section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 title">
                <h2>Your Business Growth Is What We Are Interested In.</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
            </div>
            <div class="col-md-6">
                <div class="rbg_box">
                    <div class="list2">
                        <ul>
                            <li>
                                <h2>Data Analytics</h2>
                                <p>At 08 Consultings, we harness the power of data to drive insights and inform strategic decisions. Our team of experts excels in processing and analyzing complex datasets, providing clients with actionable intelligence that enhances business performance.</p>
                            </li>
                            <li>
                                <h2>Innovation</h2>
                                <p>Innovation is at the heart of everything we do. We continually push the boundaries of technology to deliver cutting-edge solutions that meet the evolving needs of our clients. Our innovative approaches ensure that businesses stay ahead in a competitive landscape.</p>
                            </li>
                            <li>
                                <h2>Technology Advancement</h2>
                                <p>We leverage the latest advancements in technology to build robust, scalable solutions that drive growth and efficiency. From developing sophisticated algorithms to implementing advanced data processing techniques, our technical prowess ensures that our clients achieve their objectives with precision.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


