
@{
    ViewData["Title"] = "Cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerHeader">
    <div class="inner_Page_title">
        <h2>Cookies</h2>
    </div>
    <img loading="lazy" alt="" src="~/assets/img/about-bg.png">
</div>


<section class="company_profile">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto s_title text-center">
                <p>This Cookie Policy explains how  ("we," "us," or "our") uses cookies and similar tracking technologies when you visit our website [Website URL]. By using our site, you consent to our use of cookies in accordance with this policy.</p>
                <p>
                    1. What Are Cookies? <br><br>
                    Cookies are small text files stored on your device (computer, tablet, or smartphone) when you visit a website. They allow the site to recognize your device, remember your preferences, and enhance your overall browsing experience.
                    <br><br>
                    2. Types of Cookies We Use<br><br>
                    We use different types of cookies for various purposes:
                    <br><br>
                    Essential Cookies: These cookies are necessary for our website to function properly. They allow you to navigate the site and use essential features like secure areas. Without these cookies, services like account logins cannot be provided.
                    <br><br>
                    Performance Cookies: These cookies help us understand how visitors interact with our site by collecting and reporting anonymous data. This information helps us improve our site’s functionality and performance.
                    <br><br>
                    Functional Cookies: These cookies allow us to remember choices you make on our website, such as your language preferences, and provide enhanced, personalized features.
                    <br><br>
                    Targeting/Advertising Cookies: These cookies track your online activity to help deliver relevant advertising. They collect data on your browsing habits to present ads tailored to your interests on our site and other websites.
                    <br><br>
                    3. Managing Cookies<br><br>
                    You can manage or delete cookies through your browser settings. Most browsers allow you to:
                    <br><br>
                    See what cookies you have and delete them on a site-by-site basis
                    Block third-party cookies
                    Block cookies from particular sites
                    Block all cookies
                    Delete all cookies when you close your browser
                    However, please note that if you disable cookies, some parts of our website may not function properly.
                    <br><br>
                    4. Third-Party Cookies<br><br>
                    We may also use third-party cookies from trusted partners, including Google Analytics and advertising partners, to provide relevant content and ads, analyze site usage, and enhance the user experience. These third-party services have their own privacy policies, which you may refer to for further information.
                    <br><br>
                    5. Changes to Our Cookie Policy<br><br>
                    We may update our Cookie Policy periodically. Any changes will be posted on this page with an updated "Last Updated" date. We encourage you to review this policy regularly to stay informed about how we use cookies.
                    <br><br>
                    6. Contact Us<br><br>
                    If you have any questions about our Cookie Policy, please contact us at:
                </p>
            </div>
        </div>
        <!--     <div class="row">
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon1.svg"></figure>
                  <h2>Mission</h2>
                  <p>Converting the thoughts to reality through the use of technology and best consulting, thus making everything looks easy &amp; very possible.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon2.svg"></figure>
                  <h2>Vision</h2>
                  <p>To be one of the most technological advance company in Market Research Space.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services_box">
                  <figure><img src="assets/img/c_icon3.svg"></figure>
                  <h2>Core Value</h2>
                  <p>Our people, Our Experience, Our Commitment, Our Delivery, Our Knowledge, Our Output</p>
                </div>
              </div>
             </div> -->
    </div>
</section>



