@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img loading="lazy" alt="" src="~/assets/img/hero_img.jpg" class="d-block w-100">
                <div class="carousel-caption">
                    <h5>
                        Empowering Decisions, Driving Results:

                        <span>Data-Driven Success</span>
                    </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img loading="lazy" alt="" src="~/assets/img/hero_img2.jpg" class="d-block w-100">
                <div class="carousel-caption">
                    <h5>Innovation in Data: Speed, Reliability, and  <span>Success for Your Business</span> </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img loading="lazy" alt="" src="~/assets/img/hero_img3.jpg" class="d-block w-100">
                <div class="carousel-caption ">
                    <h5>Expertise, Innovation, Excellence:  <span>Leading the Way in Analytics and AI Solutions</span> </h5>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="servcies_home_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 s_title text-center">
                <h3>Get Started for consultant</h3>
                <h2>Our Services at 08 Consultings</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/s_icon1.svg"></figure>
                    <h2>Data Processing</h2>
                    <p>Efficient data processing is critical for accurate analysis and decision-making. At 08 Consultings, we offer comprehensive data processing services to transform raw data into meaningful and usable information. Our expertise ensures that your data is clean, organized, and ready for further analysis.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/s_icon2.svg"></figure>
                    <h2>Data Management</h2>
                    <p>Effective data management is the backbone of any data-driven organization. We provide robust data management solutions to help you store, organize, and maintain your data securely. Our services ensure data integrity, accessibility, and compliance with industry standards.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/s_icon3.svg"></figure>
                    <h2>Data Analytics</h2>
                    <p>Unlock the full potential of your data with our advanced data analytics services. Our team of experts uses cutting-edge tools and techniques to analyze complex datasets, uncover hidden patterns, and provide actionable insights that drive business growth.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/s_icon4.svg"></figure>
                    <h2>Advanced Statistical Analysis</h2>
                    <p>For businesses needing deeper insights, our advanced statistical analysis services offer sophisticated methodologies to interpret data. From hypothesis testing to predictive modeling, we provide the statistical expertise needed to support your business decisions.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt=""  src="~/assets/img/s_icon5.svg"></figure>
                    <h2>Data Visualization</h2>
                    <p>Transform your data into visually compelling stories with our data visualization services. We create interactive and intuitive visualizations that make it easy to understand complex data, identify trends, and communicate insights effectively.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt=""  src="~/assets/img/s_icon6.svg"></figure>
                    <h2>Data Reporting & Dashboarding</h2>
                    <p>
                        We offer comprehensive data reporting and dashboarding solutions, both online and offline. Our customized reports and dashboards provide real-time access to key metrics, enabling informed decision-making and strategic planning.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Ends-->
<!-- Company Profile Start-->

<section class="company_profile">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto s_title text-center">
                <h2>Welcome to 08 Consultings</h2>
                <p>For over 13 years, 08 Consultings has been at the forefront of Data Analytics, Innovation, and Technology Advancement, serving clients in India and across the globe. With a portfolio of over 1000+ successfully delivered projects, we have established ourselves as a trusted partner for businesses seeking efficiency and quality in data-driven decision-making.</p>
                <a href="#" class="knowMore">Know More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/c_icon1.svg"></figure>
                    <h2>Mission</h2>
                    <p>Converting the thoughts to reality through the use of technology and best consulting, thus making everything looks easy & very possible.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/c_icon2.svg"></figure>
                    <h2>Vision</h2>
                    <p>To be one of the most technological advance company in Market Research Space.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services_box">
                    <figure><img loading="lazy" alt="" src="~/assets/img/c_icon3.svg"></figure>
                    <h2>Core Value</h2>
                    <p>Our people, Our Experience, Our Commitment, Our Delivery, Our Knowledge, Our Output</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Company Profile end-->
<!-- Our Resources start -->

<section class="ourResources_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-auto s_title text-center">
                <h2>Our Expertise</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="rbg_box">
                    <div class="list">
                        <ul>
                            <li>
                                <h2>Data Analytics</h2>
                                <p>At 08 Consultings, we harness the power of data to drive insights and inform strategic decisions. Our team of experts excels in processing and analyzing complex datasets, providing clients with actionable intelligence that enhances business performance.</p>
                            </li>
                            <li>
                                <h2>Innovation</h2>
                                <p>Innovation is at the heart of everything we do. We continually push the boundaries of technology to deliver cutting-edge solutions that meet the evolving needs of our clients. Our innovative approaches ensure that businesses stay ahead in a competitive landscape.</p>
                            </li>
                            <li>
                                <h2>Technology Advancement</h2>
                                <p>We leverage the latest advancements in technology to build robust, scalable solutions that drive growth and efficiency. From developing sophisticated algorithms to implementing advanced data processing techniques, our technical prowess ensures that our clients achieve their objectives with precision.</p>
                            </li>
                        </ul>
                    </div>
                    <img loading="lazy" alt="" src="~/assets/img/rbg.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Resources end-->

<section class="company_profile whychooseUs">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto s_title text-center">
                <h2>Why Choose Us?</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="services_box">
                        <figure>01</figure>
                        <h2>Proven Track Record</h2>
                        <p>With over 1000+ projects completed, we have a wealth of experience and a proven track record of delivering high-quality solutions.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services_box">
                        <figure>02</figure>
                        <h2>Global Reach</h2>
                        <p>Our services extend beyond India, serving clients worldwide with tailored solutions that meet diverse business needs.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services_box">
                        <figure>03</figure>
                        <h2>Complex Problem Solving</h2>
                        <p>We specialize in handling complex programming algorithms related to data processing and analysis, ensuring that our clients' most challenging problems are solved with expertise and innovation.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services_box">
                        <figure>04</figure>
                        <h2>Client-Centric Approach</h2>
                        <p>Our commitment to understanding and addressing the unique needs of each client ensures that we deliver customized solutions that drive success.</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- testimonials start -->

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="services_box_CC22">
                    <h2>OUR  CLIENTS</h2>
                    <ul class="logos">
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo011.png"></span> IPSOS Research Private Limited</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo2.png"></span> Kadence International</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo3.png"></span> Urooj Insights</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo4.png"></span> Insight Sutras India Private Limited</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo5.png"></span> Dive Analytics Private Limied</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo7.png"></span> Assure Me</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo8.png"></span> Nexton Services</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo9.png"></span> Naad Wellness</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo6.png"></span> IPSOS Stat (Emirates) L.L.C.</li>
                        <li><span><img loading="lazy" alt="" src="~/assets/img/logo10.png"></span> Link Infotech</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- testimonials End -->
