@using GRP
@namespace GRP.WebUI.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, GRP



@{
    Layout = "~/Areas/GRP/Views/Shared/_LayoutWOMenus.cshtml";
}
@model GRP.Infrastructure.Models.Account.UserDTO
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GRP Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/theme/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/theme/css/vertical-layout-light/style.css">
    <!-- endinject -->
    @*<link rel="shortcut icon" href="~/theme/images/favicon.png" />*@
    <style rel="stylesheet">

        .auth .auth-form-light {
            background: #ffffff;
            margin: 6% auto;
        }

        .brand-logo {
            text-align: center;
            margin: 0 !important;
        }

            .brand-logo img {
                width: 290px !important;
            }

        .main_title {
            padding: 20px 0 20px 0;
            text-align: center;
        }








        .border-1 {
            border: #e7e7e7 solid 2px;
        }

        .flow_count {
            font-size: 29px;
            font-weight: 900;
            margin-bottom: 10px;
            display: block;
            color: #504b8e;
        }

        .surverys_card span {
            font-size: 29px;
            font-weight: 900;
            display: block;
            color: #504b8e;
            text-align: center;
            background: #f5f7ff;
            padding: 20px;
            margin: -17px -17px 11px -17px;
            border-radius: 19px 20px 0 0;
        }

        .surverys_card {
            padding: 20px;
            margin-bottom: 20px;
        }

            .surverys_card ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .surverys_card ul li {
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                    .surverys_card ul li i {
                        position: relative;
                        top: 3px;
                        color: #1d7874
                    }

        .owl-theme .owl-nav {
            display: block !important;
        }

        .mission-vision span {
            font-size: 52px;
            color: #1d7874;
        }

        .card .card-title {
            font-size: 22px;
        }

        .list {
            margin: 0;
            padding: : 0;
            list-style: none;
        }

            .list li {
                display: flex;
                padding: 30px 0 30px 0;
                border-bottom: #ccc solid 1px;
                justify-content: start;
                align-items: center;
            }

                .list li span {
                    color: #1d7874;
                    font-weight: 700;
                }

                .list li img {
                    width: 60px;
                    margin-right: 30px;
                }

        .bg-dark {
            background-color: #fff !important;
            padding: 10px 0;
        }

        .page-body-wrapper {
            padding: 0;
        }

        .brand {
            width: 200px;
        }

        .mainSLider img {
            border-radius: 10px;
        }

        .content_block a {
            text-decoration: none;
            display: block;
        }

        .content_block:hover {
            border: #c3c2c2 solid 1px;
            box-shadow: #cccccc94 1px 9px 8px;
        }

        .content_block img {
            width: 28% !important;
            display: inline-block !important;
            margin-bottom: 20px;
        }

        .content_block p {
            width: auto;
            padding: 15px 21px;
            font-size: 15px;
            color: #949494;
        }

        .content_block {
            background: #fff;
            text-align: center;
            padding: 28px;
            border: #ebebeb solid 1px;
            box-shadow: #cccccc94 0px 2px 8px;
            border-radius: 20px;
        }

            .content_block h2 {
                font-size: 1.4em;
                color: #000;
            }

        .arrow {
            width: auto !important
        }

        .content_block {
            margin-top: 20px;
        }

        .global_text {
            background: #FFF5F2;
            padding: 20px;
            border-radius: 27px;
            padding: 28px;
            box-shadow: #fabaa73b 0px 2px 8px;
            border: #f6d7ce solid 1px;
        }

        .page-body-wrapper{padding: 0 !important;}
        .bottom_links li {
            display: inline-block;
            padding: 0 10px;
        }

        .bottom_links {
            display: block;
            margin: 5px 0;
        }

            .bottom_links a {
                color: #666 !important;
                font-size: 12px;
                text-shadow: 1px 1px #97e083
            }

        .top_links a {
            color: #666;
            font-size: 12px;
            text-shadow: 1px 1px #97e083
        }

        .btn-custom {
            color: #fff !important;
            background-color: #1d7874;
            border-color: #1d7874;
            border-radius: 6px;
            padding: 4px 15px 4px 15px;
            margin-left: 10px;
            text-shadow: 0px 0px #97e083 !important;
        }
        p{text-align:justify;}

        .form-check label {
            font-weight: 400;
        }
        label{font-weight:600;}

        .auth-form-btn {
            background: #FFA55D !important;
            border-color:#FFA55D !Important;
        }
    </style>
</head>

<body>


    <div class="col-lg-8 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            
            <p class="pb-3">
                By being a part of the online community from Global Research Panels you have a chance to influence future products and services by sharing your opinions, thoughts and experiences regarding a range of other interesting topics. You will be rewarded for every survey you complete, usually the amount is between $1 and $15 per survey, depending on the length and nature of the interview.
                <br /><br />
                Please enter your details below to get started...
            </p>


            <form method="post" action="/GRP/Account/Register">
                <div>
                    <label>What is your name?</label>
                    <div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" asp-for="FirstName" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" asp-for="LastName" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div>
                    <label>What is your email address?</label>
                    <div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" asp-for="EmailId" placeholder="Email Address">
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" placeholder="Validate Email">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <label>Date of birth</label>
                    <div>
                        <div class="form-group">
                            <input type="date" class="form-control form-control-lg" asp-for="DateOfBirth">
                        </div>
                    </div>
                </div>

                <div>
                    <label>What is your gender?</label>
                    <div>
                        <div class="form-group">
                            <select class="form-control form-control-lg" asp-for="Gender">
                                <option value="0">Choose Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div>
                    <label>What is your current employment status?</label>
                    <div>
                        <div class="form-group">
                            <select class="form-control form-control-lg" <option value="-999">Select Value</option><option value="632682">Employed full-time</option><option value="632683">Employed part-time</option><option value="632684">Self-employed full-time</option><option value="632685">Self-employed part-time</option><option value="632686">Active military</option><option value="632687">Inactive military/Veteran</option><option value="632688">Temporarily unemployed</option><option value="632689">Full-time homemaker</option><option value="632690">Retired</option><option value="632691">Student</option><option value="632692">Disabled</option><option value="632693">Prefer not to answer</option></select>
                        </div>
                    </div>
                </div>
                <div>
                    <label>What is your country?</label>
                    <div>
                        <div class="form-group">
                            <select class="form-control form-control-lg" asp-for="CountryId">
                                <option value="0">Choose Country</option>
                                @{
                                    if (Model != null)
                                    {
                                        if (Model.Countries != null)
                                        {
                                            foreach (var item in Model.Countries)
                                            {
                                                <option value="@item.CountryId">@item.Country</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 m-auto">
                    <div class="mb-4">
                        <div class="form-check">
                            <label class="form-check-label text-muted" style="display: inline;">
                                <input type="checkbox" class="form-check-input" asp-for="AgreedToTACPP">
                                I agree to all
                            </label>
                            <label class="form-check-label text-muted" style="display:inline;margin-left:0px;">
                                <a href="/GRP/Legal/TermsOfServices">Terms Of Services</a> and <a href="/GRP/Legal/PrivacyPolicy">Privacy Policy</a>
                            </label>
                        </div>
                        <span asp-validation-for="AgreedToTACPP" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">Register</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                    Already have an account? <a href="/GRP/Account/Login" class="text-primary">Login</a>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </form>
        </div>
    </div>



    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/theme/js/off-canvas.js"></script>
    <script src="~/theme/js/hoverable-collapse.js"></script>
    <script src="~/theme/js/template.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>
