
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Nextonservices" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Privacy Policy</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="~/NextOnAddPages/css/bootstrap.css" rel="stylesheet">
    <!--<link href="NextOnAddPages/css/fontawesome-all.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="~/NextOnAddPages/css/swiper.css" rel="stylesheet">
    <link href="~/NextOnAddPages/css/magnific-popup.css" rel="stylesheet">
    <link href="~/NextOnAddPages/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="NextOnAddPages/images/favicon.png">
    <style>
        .black {
            color: black !important;
        }

        .white {
            color: white !important;
        }

        .dropdown-item:hover {
            background-color: white !important;
        }

        .item-text:hover {
            background-color: white;
        }

        .contact-no {
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            color: white;
            list-style: none;
        }

            .contact-no li {
                list-style: none;
                float: left;
                margin-right: 20px;
            }

        .follow li:nth-child(1) {
            font-size: 14px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Header -->
    <header id="header" class="ex-header" style="padding-bottom:2rem;padding-top:2rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Privacy Policy</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h3>NextON Consulting FZE</h3>
                        <h3>PRIVACY POLICY</h3>
                        <p>NextON Consulting FZE. (collectively with its affiliates, subsidiaries and divisions, together <b>"NextON Consulting FZE"</b> or <b>"GLOBAL RESEARCH PANELS"</b> or <b>"GRP" "we"</b> or <b>"us"</b>) is firmly committed to ensuring the privacy of those customers (<b>"Clients"</b> or <b>"you"</b>) who use the GRP website and to individuals who participate in our research activities (<b>"Research Participants"</b> or <b>"you"</b>) on or through the websites or platforms owned, maintained or licensed by GRP, apps, survey software or other feedback tools, offline and online communications and services ("Services"). This Privacy Policy applies where referenced and to the Sites and apps where it appears.  By using our Services or visiting our Sites, you agree to our Privacy Policy. IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY, PLEASE DO NOT USE OUR SITES OR SERVICES.</p>
                        <p>NextON Consulting FZE is a full-service marketing research firm that has been providing quantitative and qualitative market research services for clients for over 8 years.  We at NextON Consulting FZE have always cared deeply about the privacy and security of data from our clients and Research Participants.  This Privacy Policy explains how we collect, store, use, and disclose information that we receive from you via our Sites or Services, including the associated online opinion panels, community discussion boards, forums, blogs, member generated polls, chats, etc. (<b>"Panel"</b>).</p>


                        <!--<ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">The geographic area where you use your computer and mobile devices</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your full name, username, and email address and other contact details</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">A unique Aria user ID (an alphanumeric string) which is assigned to you upon registration</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other optional information as part of your account profile</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other information submitted by you or your organizational representatives via various methods</div>
                            </li>
                        </ul>-->
                    </div>
                    <h3>1. Information We Collect & How it is Used</h3>
                    <div class="text-container">
                        <h3>Our Clients' Information</h3>
                        <p>You may choose to provide us with your personal contact information on our Panel, when registering to Panel.  This information includes, your: name, email address and phone number.</p>
                        <p>We collect this information with your consent and use your contact information to connect with you when you ask us to do so.  We may also use your contact information to tell you about changes to this Privacy Policy.</p>
                    </div>
                    <div class="text-container">
                        <h3>Our Research Participants' Information</h3>
                        <p>As a Research Participant, the collection, use and sharing of your personal data is subject to this Privacy Policy (which includes our Cookie Policy and other documents referenced in this Privacy Policy) and updates. When you visit or use any of the NextON Consulting FZESites or our Services, you may share and/or we may automatically collect information that identifies you personally. As used in this Privacy Policy, "personal information" means information that relates to, identifies, describes or could reasonably be linked (directly or indirectly) with a consumer or device, this includes:  your name, postal address, email address and phone number, your device IDs, IP address, cookie data and other information that may be used to identify your device or browser; demographic information, such as your age, gender, and race, and sensitive categories of information, such as your political opinions, and religious or philosophical beliefs.</p>
                        <p>Generally, we collect your information when you provide it to us by visiting the NextON Consulting FZESites and/or using our Services. This may include registering for an account on our Site, filling out surveys, joining/participating in online research communities, participating in qualitative sessions, joining a research Panel/recruitment data base, or otherwise volunteering or providing information about yourself.</p>
                    </div>
                    <h3>2. Who we share your information with</h3>
                    <div class="text-container">
                        <h3>Our Clients' Information</h3>
                        <p>We share your information with the service providers we engage to perform services on our behalf, including the companies that help us manage our customer contact information and provide the Site.  These companies are contractually obligated to use your information solely on our behalf in connection with providing services to us.</p>
                        <p>We do not sell or rent Clients' personal information to unaffiliated parties.</p>
                    </div>
                    <div class="text-container">
                        <h3>Our Research Participants' Information </h3>
                        <p>
                            NextON Consulting FZEmay collect Personal Data to conduct research. This information will be analyzed by NextON Consulting FZEand the results will be shared with our client(s) and used for their market research.
                        </p>
                        <p>
                            We may share Research Participants' information with the following:
                        </p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Rewards and incentive programs</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Fulfillment (mailing) houses in order to send gifts or prizes to Research Participants</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Vendors we hire to help us with data management/processing or companies that work on studies on behalf of or in collaboration with us.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Vendors who we hire to perform quality control on our behalf, to validate and ensure research participants authenticity and to protect against fraud and for our purposes.</div>
                            </li>
                        </ul>
                        <p>
                            We will also share your personal information:
                        </p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">In the event of a sale of all or part of our business, we will share your personal information with prospective buyers.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">To fulfil a legal obligation, including to protect ourselves or our members, enforce our Terms of Use, or in response to a lawful request by public authorities, including to meet national security or law enforcement requirements. We may attempt to notify Research Participants about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. We may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but we do not promise to challenge any demand or inquiry.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">With our Clients or unaffiliated parties for security purposes, including, for monitoring the proprietary and confidential information of our Clients. For instance, NextON Consulting FZEClients may disclose confidential and/or proprietary content (e.g., concepts, ideas, ads, videos, creative content, etc.) to you as part of surveys, online communities, qualitative sessions and other research activities which you may not disclose or use for any purpose except for the sole purpose of completing the research activity. If you fail to comply, we may share your information with our Client or other unaffiliated parties for enforcement purposes which may include pursuing legal action.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">In addition to security purposes, with our Clients as described in this Privacy Policy, or as otherwise described to you (for example if you are selected to participate in a qualitative study such as a focus group).</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">To unaffiliated parties in accordance with this Privacy Policy or where we have your express permission to do so.</div>
                            </li>

                        </ul>
                    </div>

                    <h3>3. How long we retain your information</h3>

                    <div class="text-container">
                        <p>We make efforts to ensure that personal information we receive, process, or maintain is accurate, complete, and reliable. We rely on the accuracy of the information provided directly to us but accept responsibility for the management and confidentiality of the personal information collected. In general, we keep personal information as long as we need it for our legitimate business purposes. For example, we may retain personal information for any period required by law or to comply with our legal obligations, protect intellectual property, prevent fraud, resolve disputes, and enforce our agreements.</p>

                    </div>
                    <h3>4. What rights you have over your information</h3>
                    <div class="text-container">
                        <p>We maintain processes or mechanisms to allow you to do the following at any time:</p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">See what data we have about you, if any.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Change/correct any data we have about you.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Have us delete any data we have about you.</div>
                            </li>
                        </ul>
                        <p>You may make changes to your account information, access, correct, or delete personal information held by NextON Consulting FZEby contacting us at:</p>
                        <h3><u>NextON Consulting FZE</u></h3>
                        <p>BC 5 RAK BUSINESS PARK</p>
                        <p>AL NAKEEL, P.O. BOX: 328029	</p>
                        <p>RAS AL KHAIMAH	</p>
                        <p>UAE</p>
                        <p><a class="green" href="support@globalresearchpanels.com"><b>support@globalresearchpanels.com</b></a></p>
                    </div>
                    <h3>7. How we protect your information</h3>
                    <div class="text-container">
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We use physical, electronic, and managerial procedures to safeguard and secure the information we collect online and to protect your personal information, including email address, from loss or theft, unauthorized access, disclosure, copying, use or modification</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">We have an extensive rights management for NextON Consulting FZE, team members, clients and authorized vendor/client staff. Access is password protected and on a "need-to-know" basis.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Security includes SSL (HTTPS) authentication and encryption for data transmission. Servers are kept in secure access (logged) controlled data center, fully air-conditioned, fire doors and nitrogen firefighting appliances. All server systems are connected to each other and to the Internet with a maximum performance of 155 Mbit.</div>
                            </li>
                        </ul>
                        <p>Although we take reasonable precautions to protect the information that we collect, no data transmission over the Internet can be guaranteed to be 100% secure. The Internet by its nature is a public medium, and we encourage you to use caution when disclosing information online. Once we receive your transmission, we make our best effort to ensure its security on our system; however, we cannot ensure or warrant the security of any information you transmit to us or from our online products or services, and you do so at your own risk.</p>
                    </div>
                    <h3>8. Third Party Links</h3>
                    <div class="text-container">
                        <p>Our Sites contain links to other sites that are not owned or controlled by NextON Consulting.  NextON Consulting FZEis not responsible for the privacy practices of other websites. We encourage you to be aware when you leave our Sites, and to read the privacy statements of any website that collects personally identifiable information.</p>
                    </div>
                    <h3>9. Parent Research Participants: Family Participation</h3>
                    <div class="text-container">
                        <p><a class="green" href="https://community.globalresearchpanels.com/newdesign/site/globalresearchpanels/panelchoosecountry.php?panelID=bocskblo7">https://community.globalresearchpanels.com/newdesign/site/globalresearchpanels/panelchoosecountry.php?panelID=bocskblo7</a></p>
                        <p>NextON Consulting FZEis committed to securing the privacy of minors, including complying with applicable laws such as the Children's Online Privacy Protection Act (COPPA). Children under 13 cannot participate in our research studies without parental/legal guardian consent</p>
                    </div>
                    <h3>10. Changes to this Policy</h3>
                    <div class="text-container">
                        <p>If we decide to change our Privacy Policy, we will post those changes on our Sites, and we may also email you, or put a notice on other places we deem appropriate so that you are made aware of the changes.  We will obtain prior parental consent if any changes we make to this Policy affect users under the age of 13 in a way that requires such consent under COPPA.  We reserve the right to modify this Privacy Policy at any time, for any reason, at our sole discretion, so please review it frequently.</p>
                    </div>
                    <h3>
                        11. Contact Us
                    </h3>
                    <div class="text-container">
                        <p>If you have questions or concerns about our Privacy Policy that aren't addressed above, you can contact us at:<a class="green" href="support@globalresearchpanels.com">support@globalresearchpanels.com</a>, or write:</p>
                        <h3><u><b>NextON Consulting FZE</b></u></h3>
                        <p>BC 5 RAK BUSINESS PARK	</p>
                        <p>AL NAKEEL, P.O. BOX: 328029	</p>
                        <p>RAS AL KHAIMAH	</p>
                        <p>UAE</p>

                    </div>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <script src="~/NextOnAddPages/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/NextOnAddPages/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/NextOnAddPages/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/NextOnAddPages/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/NextOnAddPages/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/NextOnAddPages/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/NextOnAddPages/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="~/NextOnAddPages/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="~/NextOnAddPages/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/NextOnAddPages/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>