@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Nextonservices" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Terms And Conditions</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="~/NextOnAddPages/css/bootstrap.css" rel="stylesheet">
    <!--<link href="NextOnAddPages/css/fontawesome-all.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="~/NextOnAddPages/css/swiper.css" rel="stylesheet">
    <link href="~/NextOnAddPages/css/magnific-popup.css" rel="stylesheet">
    <link href="~/NextOnAddPages/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="NextOnAddPages/images/favicon.png">
    <style>
        .black {
            color: black !important;
        }

        .white {
            color: white !important;
        }

        .dropdown-item:hover {
            background-color: white !important;
        }

        .item-text:hover {
            background-color: white;
        }

        .contact-no {
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            color: white;
            list-style: none;
        }

            .contact-no li {
                list-style: none;
                float: left;
                margin-right: 20px;
            }

        .follow li:nth-child(1) {
            font-size: 14px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Header -->
    <header id="header" class="ex-header" style="padding-bottom:2rem;padding-top:2rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Terms Of Use</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    <!-- Breadcrumbs -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h3>SCOPE OF AGREEMENT</h3>
                        <p>This Terms of Use Agreement ("Agreement") by and between the NextON Consulting FZE("we", "us", "our" ) and you ("you" or "your") governs your participation in the GLOBAL RESEARCH PANELS (the “Panel”), including your membership in the GLOBAL RESEARCH PANELS; your use of and/or access to any GLOBAL RESEARCH PANELS website; your participation in any survey offered, hosted or administered by or through the GLOBAL RESEARCH PANELS; and your eligibility for, and/or redemption of incentives for participation; together with all information, content, products, materials and services made available to you through the same by us and/or third parties (which together shall be collectively referred to as the "Services").</p>
                        <p>By using or otherwise accessing the Services, or any component thereof, in any manner whatsoever, you agree to be bound by and comply with the terms and conditions of this Agreement. If you do not agree to this Agreement, do not access or use the Services in any manner.</p>
                        <p>When we refer to the "use" of the Services in this Agreement, we mean any actual or attempted access or use of the Services, including, without limitation, any transmission, exchange of information or communication associated with the Services. These terms and conditions, together with any other terms of use applicable to other the NextON Consulting FZE owned or controlled websites, as specifically noted on such sites, and any other policies, rules and provisions which are described, linked or otherwise referred to and form a part of this Agreement, including, without limitation our the GLOBAL RESEARCH PANELSTerms of Useand the GLOBAL RESEARCH PANELSPrivacy Policy, constitute the entire agreement between you and us, superseding any and all prior or inconsistent understandings, representations or agreements regarding the Services. </p>
                        <p>We may add, delete or modify any of our Services at any time in our sole discretion. We may similarly change this Agreement at any time, and we will notify you of any changes (e.g., we will post a revised Privacy Statement with a new effective date, display the word "updated" next to the Privacy Policy link on each page on any GLOBAL RESEARCH PANELS website, or otherwise). Changes will take effect once we notify you ("effective date"). You can always obtain a current copy of this Agreement at any time on the GLOBAL RESEARCH PANELS website. If any change is not acceptable to you, you must stop using the Services. Your use of the Services after the effective date shall constitute your acceptance of such changes. If any new products or services become available, they will be considered a part of the Services and your use of them will be governed by the terms and conditions of this Agreement unless we notify you that different terms and conditions apply. You must also comply with any additional terms which apply to third-party content, material, information, software or other services. </p>




                        <!--<ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">The geographic area where you use your computer and mobile devices</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your full name, username, and email address and other contact details</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">A unique Aria user ID (an alphanumeric string) which is assigned to you upon registration</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other optional information as part of your account profile</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other information submitted by you or your organizational representatives via various methods</div>
                            </li>
                        </ul>-->
                    </div>
                    <div class="text-container">
                        <h3>ELIGIBILITY</h3>
                        <p>Panel membership is by invitation only.  Panel membership may be open to individuals who satisfy the requirements for membership, as determined by GLOBAL RESEARCH PANELS in its sole discretion including, without limitation, minimum age and employment background requirements. Panel membership is specific to the individual who registers for membership. We only permit one member per unique email address.  </p>
                        <p>GLOBAL RESEARCH PANELS, at its sole discretion, may refuse to provide the Services to anyone, at any time and for any reason or no reason.  If you are interested in membership but have not received an invitation, please contact <a class="green" href="support@globalresearchpanels.com">support@globalresearchpanels.com</a></p>
                    </div>
                    <div class="text-container">
                        <h3>PANEL PARTICIPATION</h3>
                        <p>You may access the GLOBAL RESEARCH PANELS website as a visitor without being a Panel member and without providing or disclosing Personal Information.</p>
                        <p>
                            To become a Panel member, you must receive an invite from GLOBAL RESEARCH PANELS, complete the Panel recruitment survey and provide certain Personal Information.  Panel members are required to truthfully provide all information.  GLOBAL RESEARCH PANELS reserves the right to restrict or prohibit your use of or access to the Services if you provide, or GLOBAL RESEARCH PANELS reasonably suspects you have provided, information that is untrue, inaccurate, not current or incomplete.
                        </p>
                    </div>
                    <div class="text-container">
                        <h3>ACCESS TO AND USE OF THE SERVICES</h3>
                        <p>The Services are for personal, non-commercial use only.  Participation is voluntary, and you may choose not to answer any survey questions you don’t wish to answer.  By agreeing to become a GLOBAL RESEARCH PANELS member, you agree to receive invitations to participate in surveys.  You may opt out from your membership in the GLOBAL RESEARCH PANELS at any time. </p>
                        <p>
                            You may not use or allow others to use the Services, directly or indirectly, nor upload, distribute, transmit, communicate, link to, publish or access any data, information or material through, using or otherwise in connection with the Services, that: (a) is libelous, defamatory, vulgar or obscene, pornographic, sexually offensive or explicit, harmful or harassing, threatening, hateful, racially, culturally, ethnically or otherwise objectionable or offensive, discriminatory or abusive; (b) violates any law or regulation or the rights of others; (c) causes duress, distress or discomfort to another or is likely to deter or discourage others from using the Services; and/or (d) infringes any intellectual property, privacy or proprietary rights or confidentiality obligations of others. You are solely responsible and liable for any such activity, behavior, use and conduct. We have no liability and you bear the sole and exclusive risk associated with use of or reliance on the accuracy, quality, completeness, reliability or usefulness of any data, information or material in connection with your IDs.
                        </p>
                        <p>
                            You also may not use, nor allow others to use, the Services, directly or indirectly, to: (a) attempt to or actually disrupt, impair or interfere with, alter or modify the Services or any information, data or materials posted and/or displayed by us or anyone else; (b) act in a way that affects or reflects negatively on us, the Services, or anyone else; (c) collect or attempt to collect any information from others including, without limitation, personally identifiable information, without such party's prior consent. You agree to comply with all local, state, federal laws, statutes, rules and regulations, as well as any international treaties, which are applicable to your use of the Services.
                        </p>
                        <p>
                            You are prohibited from violating or attempting to violate the security of the Services, including, without limitation: (a) accessing data not intended for you or logging onto a processor, communications or access device or account which you are not authorized to access; (b) attempting to probe, scan or test the vulnerability of the Services or to breach security or authentication measures, regardless of your motives or intent; (c) attempting to interfere with or disrupt the Services or services to any user, processor, host or network, including, without limitation, by submitting a virus, worm or Trojan horse; or (d) sending unsolicited e-mail or other information, including promotions or advertising. Violations of system or network security or this Agreement may result in civil or criminal liability. We have the right to investigate occurrences which may involve such violations and may involve, provide information to and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.

                        </p>
                    </div>
                    <div class="text-container">
                        <h3>USER CONTENT</h3>
                        <p>
                            If you participate in or use the Services, you are responsible for any information, data, text, software, music, sound, photographs, graphics, video, messages or other materials ("User Content") you upload, submit, post, link to or otherwise transmit (collectively
                            "transmit") and the consequences thereof.  YOU CAN BE HELD LEGALLY LIABLE FOR WHAT YOU TRANSMIT.  If you choose to transmit any User Content, you agree to do so solely for lawful purposes, in compliance with all applicable laws, and in a professional manner. User Content should only contain audio, video, images or the likeness of the individual submitting the User Content and should not contain any copyrighted or trademarked content or material of any third party.  User Content should not include audio, video, images or the likeness of anyone other than the individual submitting the User Content.
                        </p>
                        <p>
                            You expressly agree that we have no responsibility for or control over the User Content you may transmit using the Services. Although we do not actively monitor, regulate or pre-screen your use of the Services, we reserve the unconditional right (but not the obligation) to remove, move or edit any User Content we in our sole discretion consider harmful, offensive or unprofessional, disruptive, in violation of law, regulation or any agreement, including, without limitation:
                        </p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Content which is or may be in violation of this Agreement;</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Content that could reasonably be construed as a violation of federal, state or international law prohibiting anti-competitive activities or unfair trade practices. </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Content that infringes any other person or entity's copyright, trademark, service mark, trade dress or privacy-related rights.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Content that is unprofessional or is harmful to the image of the HR profession.</div>
                            </li>

                        </ul>
                        <p>
                            We have no liability or responsibility to you or any other person or entity for performance or nonperformance of such monitoring activities.  Persons found in violation of this Section may have their access to the Services blocked, and, in certain cases, GLOBAL RESEARCH PANELS membership discipline procedures may be initiated
                        </p>
                    </div>
                    <div class="text-container">
                        <h3>MEMBERSHIP PROFILE</h3>
                        <p>You agree to promptly notify GLOBAL RESEARCH PANELS of any changes in or to your information. GLOBAL RESEARCH PANELS or its third-party Panel administrator will also periodically contact you via email to update your contact information.  You may update, correct, and/or delete information contained in your membership profile by: (i) sending an email to <a class="green" href="support@globalresearchpanels.com">support@globalresearchpanels.com</a> or (ii) writing to GLOBAL RESEARCH PANELS, BC 5 RAK BUSINESS PARK; AL NAKEEL, P.O. BOX: 328029; RAS AL KHAIMAH; UAE</p>
                    </div>
                    <div class="text-container">
                        <h3>UAE TRADE SANCTIONS COMPLIANCE</h3>
                        <p>GLOBAL RESEARCH PANELS must comply with international trade sanctions imposed by the U.A. E. government. </p>
                        <p>Please note, however, that U.A.E. government sanctions laws change from time to time, and GLOBAL RESEARCH PANELS reserves the right to immediately implement any changes or additions to these restrictions as appropriate. </p>
                    </div>
                    <div class="text-container">
                        <h3>INCENTIVES PROGRAMS</h3>
                        <p>In connection with your use of the Services, you may have the opportunity to earn rewards or incentives.  Information, official rules, and terms and conditions for rewards or incentives may be available on the GLOBAL RESEARCH PANELS website, at the beginning or end of a survey, in survey invitations, in any newsletter, and/or other communications distributed or published by GLOBAL RESEARCH PANELS.  Rewards and incentives are non-transferable. `</p>
                    </div>
                    <div class="text-container">
                        <h3>What is the opt-out policy for the GLOBAL RESEARCH PANELS?</h3>
                        <p>Participation in all surveys is voluntary, and you may choose not to answer any questions you do not wish to answer. </p>
                        <p>
                            If you wish to opt out of your participation in the GLOBAL RESEARCH PANELS, you have the following options:
                        </p>
                        <ul class="list-unstyled li-space-lg indent">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">E-mail: <a class="green" href="support@globalresearchpanels.com "> support@globalresearchpanels.com</a> and mention ‘OPTOUT’ in the subject line</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Send mail to the following postal address:BC 5 RAK BUSINESS PARK; AL NAKEEL, P.O. BOX: 328029; RAS AL KHAIMAH; UAE</div>
                            </li>
                        </ul>
                    </div>
                    <div class="text-container">
                        <h3>INTELLECTUAL PROPERTY</h3>
                        <p>The content displayed or otherwise made available via the Services (directly or indirectly), including, without limitation, all text, graphics, images, button icons, programs, software and other data, content, information and materials, tangible and intangible, and all intellectual property rights in and to the same (the "Material"), are owned by or licensed to us or our third-party partners.  In addition, all names, service marks, logos, brands, brand names, trade dress and trade names, and any other distinctive identification are trademarks (the "Trademarks") owned by us in the U.A.E. and other countries or licensed to us or our third-party partners.</p>
                        <p>You have no rights in or to such Material or Trademarks and you will not use any Material or Trademarks, except as specifically permitted under this Agreement. You may not do or allow anyone else to do anything with the Material or the Trademarks which is not specifically permitted under this Agreement.  You may not use or display our Trademarks in any manner without our prior written permission.  Our Trademarks may not be used in connection with any product or service that does not belong to us, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits us. </p>
                        <p>Unless we give you written permission, you may only use and access the Material for your personal use, and you will not alter, erase or otherwise obscure our copyright, trademark proprietary or other notices on the Material. You acknowledge and agree that the Material is made available for informational and educational purposes only without representation or warranty of any kind, is not a substitute for legal advice or your professional judgment and should not be construed as an endorsement by or representation of the opinions of GLOBAL RESEARCH PANELS. We do not give legal advice. Your reliance upon Material obtained by you on or through the Services is solely at your own risk. You agree to comply with all notices and requirements accompanying third-party Material. All rights not expressly granted in this Agreement are reserved to us.</p>
                    </div>
                    <div class="text-container">
                        <h3>LINKS</h3>
                        <p>The Services may provide, or third parties may provide, links to other Websites or resources. Because we have no control over such sites and resources, you acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable for any Content, advertising, products, services or other materials on or otherwise made available via such sites or resources. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services made available on or through any such site or resource. </p>

                    </div>
                    <div class="text-container">
                        <h3>DISCLAIMER OF WARRANTY</h3>
                        <p>
                            THE SERVICES ARE PROVIDED TO YOU ON AN "AS IS, AS AVAILABLE" BASIS,
                            AND YOUR USE THEREOF IS ENTIRELY AT YOUR OWN RISK. EXCEPT AS
                            SPECIFICALLY SET FORTH IN THIS AGREEMENT, WE MAKE NO
                            REPRESENTATIONS OR WARRANTIES OF ANY KIND REGARDING THE
                            SERVICES, ANY PRODUCTS MADE AVAILABLE TO YOU IN CONNECTION
                            THEREWITH, OR YOUR ACCESS TO OR USE OF ANY OF THE FOREGOING, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE
                            IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                            PURPOSE, TITLE, AND/OR NON-INFRINGEMENT, OR ANY WARRANTIES ARISING BY COURSE OF DEALING OR CUSTOM OF TRADE. WE MAKE NO
                            REPRESENTATION OR WARRANTY THAT ANY MATIERAL, CONTENT,
                            PRODUCTS OR SERVICES DISPLAYED ON OR OFFERED THROUGH THE SERVICES ARE ACCURATE, COMPLETE, APPROPRIATE, RELIABLE, OR TIMELY.
                            WE ALSO MAKE NO REPRESENTATIONS OR WARRANTIES THAT THE SERVICES
                            WILL MEET YOUR REQUIREMENTS AND/OR YOUR ACCESS TO AND USE OF THE
                            SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, FREE OF VIRUSES,
                            MALICIOUS CODE, OR OTHER HARMFUL COMPONENTS, OR OTHERWISE
                            SECURE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES. ACCORDINGLY, SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
                        </p>
                    </div>
                    <div class="text-container">
                        <h3>LIMITATION OF LIABILITY AND RELEASE</h3>
                        <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, NEITHER GLOBAL RESEARCH PANELS, ITS LICENSORS, SUPPLIERS, PARTNERS, AFFILIATES OR THIRD-PARTY SERVICE PROVIDERS SHALL BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, OR ANY OTHER FORM OF DAMAGES </p>
                        <p>IN ANY MANNER ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR YOUR USE OF THE SERVICES, REGARDLESS OF THE FORM OF ACTION OR THE BASIS OF THE CLAIM OR WHETHER OR NOT SHRM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. </p>
                        <p>
                            IN THE EVENT YOU HAVE ANY DISPUTE WITH ONE OR MORE THIRD PARTIES
                            AS A RESULT OF YOUR USE OF THE MATERIAL OR THE SERVICES, OR ARE IN ANY WAY DAMAGED AS A RESULT OF ANY THIRD PARTY IN CONNECTION
                            THEREWITH, YOU HEREBY RELEASE AND COVENANT NOT TO SUE OR
                            OTHERWISE MAKE A CLAIM, DEMAND OR FILE ANY LEGAL ACTION OR
                            INSTITUTE ANY LEGAL OR REGULATORY PROCEEDINGS AGAINST US, OUR
                            AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS,
                            REPRESENTATIVES AND SUPPLIERS FROM, FOR ANY CLAIMS, ACTIONS,
                            DEMANDS OR DAMAGES (WHETHER DIRECT, INDIRECT, SPECIAL, INCIDENTAL
                            OR CONSEQUENTIAL), OF WHATEVER KIND OR NATURE, KNOWN OR UNKNOWN, SUSPECTED OR UNSUSPECTED, WHETHER FORESEEABLE OR NOT, DISCLOSED OR UNDISCLOSED.
                        </p>
                    </div>
                    <div class="text-container">
                        <h3>INDEMNIFICATION</h3>
                        <p>You agree to defend, indemnify and hold us harmless against any losses, expenses, costs or damages (including our reasonable attorneys' fees, expert fees' and other reasonable costs of litigation) arising from, incurred as a result of, or in any manner related to any claim or action based upon (a) your breach of the terms and conditions of this Agreement, (b) your use of the Services, and/or (c) the use of the Services by any other person using your IDs. We may, if necessary, participate in the defense of any such claim or action and any negotiations for its settlement or compromise. No settlement which may adversely affect our rights or obligations shall be made without our prior written approval. We reserve the right, at our own expense and on notice to you, to assume exclusive defense and control of any such claim or action and then your corresponding indemnification obligation will end. </p>
                    </div>
                    <div class="text-container">
                        <h3>TERMINATION</h3>
                        <p>We may terminate this Agreement, restrict, suspend or terminate your access to and use of the Services immediately and without notice or liability, with or without cause, and it will not limit any other rights or remedies which are available to us. You may terminate this Agreement by providing us with written notice of your termination and ceasing to use or access the Services. Termination is your sole right and exclusive remedy if you are not satisfied with the Services. Upon the effective date of any such termination, your right to access and use the Services shall immediately cease. </p>
                    </div>
                    <div class="text-container">
                        <h3>GOVERNING LAW AND INTERPRETATION</h3>
                        <p>This Agreement and your use of the Services, will be interpreted under and governed by the substantive laws of the U.A.E., excluding its conflicts-of-law rules. You agree that exclusive jurisdiction and venue of any dispute with GLOBAL RESEARCH PANELS or its licensors, or any of their respective affiliates, officers, directors, employees, <b>contractors, agents, representatives or suppliers, arising out of or in any way relating to this Agreement shall reside in the federal and state courts sitting in the U.A.E.</b> You expressly consent to the exercise of personal jurisdiction by such courts and agree that you will not object to jurisdiction of or venue in such courts on the grounds of lack of personal jurisdiction, forum non conveniens or otherwise. This Agreement may not be modified by anyone except in writing signed by an authorized officer of GLOBAL RESEARCH PANELS. No failure or delay in enforcing any provision, exercising any option or requiring performance, shall be construed to be a waiver of that or any other right in connection with this Agreement. You may not assign your rights under this Agreement without our prior written permission and any attempt by you to do so shall be void. If any term of this Agreement is held invalid, illegal or unenforceable, the remaining portions shall not be affected. Any provision of this Agreement which by its nature must survive the termination of this Agreement in order to give effect to its meaning shall survive such termination.</p>
                    </div>

                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->


    <script src="~/NextOnAddPages/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/NextOnAddPages/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/NextOnAddPages/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/NextOnAddPages/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/NextOnAddPages/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/NextOnAddPages/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/NextOnAddPages/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="~/NextOnAddPages/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="~/NextOnAddPages/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/NextOnAddPages/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>







