@{
    Layout = null;
}
@using NextOnServices
@namespace NextOnServices.WebUI.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, NextonServices

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/theme/images/favicon.png" />
    <link type="text/css" href="~/supplier/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/font-awsome.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/Linearicons.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/hamburgers.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/util.css" rel="stylesheet" />
    <link type="text/css" href="~/supplier/css/main.css" rel="stylesheet" />
    <meta name="robots" content="noindex, follow">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form" method="post" action="/VT/Account/ChangePassword">
                    <div class="col-md-12" style="text-align:center;margin-top:-50px;">
                        <a href="javascript:void(0)" onclick="window.history.back();" style="font-family: sans-serif;">Go back to previous page</a>
                    </div>

                    <span class="login100-form-title p-b-55">
                        Change Password
                    </span>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    }

                    <div class="m-b-16 wrap-input100">
                        <div class="wrap-input100 validate-input" data-validate="Old password is required">
                            <input class="input100" type="password" name="oldPassword" placeholder="Old Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                    </div>

                    <div class="m-b-16 wrap-input100">
                        <div class="wrap-input100 validate-input" data-validate="New password is required">
                            <input class="input100" type="password" name="newPassword" placeholder="New Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                    </div>

                    <div class="m-b-16 wrap-input100">
                        <div class="wrap-input100 validate-input" data-validate="Confirm password is required">
                            <input class="input100" type="password" name="confirmPassword" placeholder="Confirm Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

