<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SimplyDBConnection" connectionString="Data Source=182.18.138.208,16444;Initial Catalog=SPSSTestDatabaseExtension;User ID=SimpliHR;Password=Delta@304020" providerName="System.Data.SqlClient" />
   <!-- <add name="SimplyDBConnection" connectionString="Server=DESKTOP-B4OM4M2\SQLEXPRESS;Database=SimpliHRdb;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>