@{
    ViewData["Title"] = "HowItWorks";
    Layout = "~/Areas/GRP/Views/Shared/_LayoutWOMenus.cshtml";
}
<style>
    .border-1 {
        border: #e7e7e7 solid 2px;
    }

    .flow_count {
        font-size: 29px;
        font-weight: 900;
        margin-bottom: 10px;
        display: block;
        color: #504b8e;
    }

    .surverys_card span {
        font-size: 29px;
        font-weight: 900;
        display: block;
        color: #504b8e;
        text-align: center;
        background: #f5f7ff;
        padding: 20px;
        margin: -17px -17px 11px -17px;
        border-radius: 19px 20px 0 0;
    }

    .surverys_card {
        padding: 20px;
        margin-bottom: 20px;
    }

        .surverys_card ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .surverys_card ul li {
                margin-bottom: 10px;
                font-size: 16px;
            }

                .surverys_card ul li i {
                    position: relative;
                    top: 3px;
                    color: #4B49AC
                }

    .owl-theme .owl-nav {
        display: block !important;
    }

    .mission-vision span {
        font-size: 52px;
        color: #4b49ac;
    }

    .card .card-title {
        font-size: 22px;
    }

    .list {
        margin: 0;
        padding: : 0;
        list-style: none;
    }

        .list li {
            display: flex;
            padding: 30px 0 30px 0;
            border-bottom: #ccc solid 1px;
            justify-content: start;
            align-items: center;
        }

            .list li span {
                color: #4b49ac;
                font-weight: 700;
            }

            .list li img {
                width: 60px;
                margin-right: 30px;
            }

    .main-panel {
        width: 100% !important;
    }
</style>
<div class="col-lg-6 mx-auto">

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row ">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- About 1 - Bootstrap Brain Component -->
                            <h3>Global Research Panels</h3>
                            <ul class="list">
                                <li>
                                    <div class="content"><img src="/grp/icon1.svg"></div>
                                    <div class="c_content">
                                        <h4>Step 1- <span>Sign Up</span></h4>
                                        <p>Tell us about yourself and we'll send you surveys that match your individual profile. You will earn 500 points just by signing up</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content"><img src="/grp/icon2.svg"></div>
                                    <div class="c_content">
                                        <h4>Step 2- <span>Take Online Surveys</span></h4>
                                        <p>We pay you cash and rewards to complete market research surveys</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content"><img src="/grp/icon3.svg"></div>
                                    <div class="c_content">
                                        <h4>Step 3- <span>Invite more friends</span></h4>
                                        <p>Earn even more when your friends participate.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content"><img src="/grp/icon4.svg"></div>
                                    <div class="c_content">
                                        <h4>Step 4- <span>Rewards</span></h4>
                                        <p>We value your thoughts so we’ll give you points for participating in our surveys. You can choose to convert these points into cash, and once you reach 2500 points, you can redeem them via PayPal (100 points = 1 USD)</p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>
            </div>



          
        </div>
        <!-- main-panel ends -->
    </div>
</div>
