@{
    ViewData["Title"] = "Points Pending";
    Layout = "~/Areas/GRP/Views/Shared/_LayoutWOMenus.cshtml";
}
<div class="col-lg-8 mx-auto">
    <section id="banner">
        <section class="slider">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="~/grp/images/img/banner1.jpg" alt="" />
                    <img src="grp/images/img/banner2.jpg" alt="" />
                    <img src="grp/images/img/banner3.jpg" alt="" />
                </div>
            </div>
        </section>
    </section>

    <section id="box_section">
        <div class="bs_wraper">

            <ul>
                <li>
                    <a href="#"> <img src="~/grp/images/img/box-img1.jpg" class="signup" /></a>
                    <a href="#"> <h2>Creat a Free Profile</h2></a>
                    <p>
                        Each survey is matched to your
                        individual profile <span><a href="#"> <img src="~/grp/images/img/arrow.png" class="signup" /></a></span>
                    </p>
                </li>

                <li>
                    <a href="#" id="takesurvey"> <img src="~/grp/images/img/box-img2.jpg" /></a>
                    <a href="#"> <h2>Take surveys</h2></a>
                    <p style="background:#668333">
                        We pay you cash and rewards to
                        complete surveys <span><a href="#"> <img src="~/grp/images/img/arrow.png" /></a></span>
                    </p>
                </li>

                <li>
                    <a href="#" id="howitworks"><img src="~/grp/images/img/box-img3.jpg" /></a>
                    <a href="#"> <h2>Share and Earn</h2></a>
                    <p style="background:#F1715E">
                        Earn even more when your friends
                        participate <span><a href="howitworks.aspx"> <img src="~/grp/images/img/arrow.png" /></a></span>
                    </p>
                </li>

            </ul>
        </div>

    </section>

    <section id="info_section">
        <section class="info_wraper">
            <article class="right_pallet">
                <h1>Global Research Panels</h1>
                <p>
                    Global Research Panels is a market research community. We give points for participating in our surveys. You can choose to convert these points into real cash. It's a simple way to voice your opinion, and even get paid by doing so. Interesting isn’t it!


                </p><%--<span>READ MORE >></span>--%>
            </article>

        </section>

    </section>
</div>
