USE [NextOnServicesCore_BK]
GO
/****** Object:  Table [dbo].[ProjectQuestionsMapping]    Script Date: 17-12-2025 21:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectQuestionsMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[PID] [int] NULL,
	[PreviousButton] [int] NULL,
	[QuestionQID] [int] NULL,
	[Logo] [int] NULL,
	[QIDs] [nvarchar](50) NULL,
	[CRDate] [datetime] NULL,
 CONSTRAINT [PK_ProjectQuestionsMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProjectQuestionsMapping] ON 

INSERT [dbo].[ProjectQuestionsMapping] ([ID], [CID], [PID], [PreviousButton], [QuestionQID], [Logo], [QIDs], [CRDate]) VALUES (1, 235, 2821, 1, 1, 1, N'1,2,3,4', CAST(N'2019-02-21T22:40:37.293' AS DateTime))
INSERT [dbo].[ProjectQuestionsMapping] ([ID], [CID], [PID], [PreviousButton], [QuestionQID], [Logo], [QIDs], [CRDate]) VALUES (2, 103, 2821, 1, 1, 1, N'1,2,3,4,5,6,7,8,9,13', CAST(N'2019-02-27T16:06:00.807' AS DateTime))
INSERT [dbo].[ProjectQuestionsMapping] ([ID], [CID], [PID], [PreviousButton], [QuestionQID], [Logo], [QIDs], [CRDate]) VALUES (3, 40, 2270, 1, 1, 1, N'13', CAST(N'2019-03-13T02:50:45.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProjectQuestionsMapping] OFF
GO
ALTER TABLE [dbo].[ProjectQuestionsMapping] ADD  CONSTRAINT [DF_ProjectQuestionsMapping_CRDate]  DEFAULT (getdate()) FOR [CRDate]
GO
