USE [NextOnServicesCore_BK]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 17-12-2025 19:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QID] [int] NULL,
	[OptionNumber] [int] NULL,
	[OptionLabel] [nvarchar](500) NULL,
	[OptionCode] [nvarchar](50) NULL,
	[IsChecked] [bit] NULL,
	[CrDate] [datetime] NULL,
 CONSTRAINT [PK_ScrQuestionOptions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsMaster]    Script Date: 17-12-2025 19:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [nvarchar](50) NULL,
	[QuestionLabel] [nvarchar](500) NULL,
	[QuestionType] [int] NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_ScrQuestions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] ON 

INSERT [dbo].[QuestionOptions] ([ID], [QID], [OptionNumber], [OptionLabel], [OptionCode], [IsChecked], [CrDate]) VALUES (1, 1, NULL, N'Under 18', N'1', NULL, CAST(N'2018-10-16T19:01:22.863' AS DateTime))
INSERT [dbo].[QuestionOptions] ([ID], [QID], [OptionNumber], [OptionLabel], [OptionCode], [IsChecked], [CrDate]) VALUES (2, 1, NULL, N'18 and above', N'2', NULL, CAST(N'2018-10-16T19:01:29.190' AS DateTime))
INSERT [dbo].[QuestionOptions] ([ID], [QID], [OptionNumber], [OptionLabel], [OptionCode], [IsChecked], [CrDate]) VALUES (12, 6, NULL, N'Male', N'1', NULL, CAST(N'2018-10-24T12:17:16.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionsMaster] ON 

INSERT [dbo].[QuestionsMaster] ([ID], [QuestionID], [QuestionLabel], [QuestionType], [CreationDate]) VALUES (1, N'Q1', N'Age?', 1, CAST(N'2018-10-16T19:01:13.207' AS DateTime))
INSERT [dbo].[QuestionsMaster] ([ID], [QuestionID], [QuestionLabel], [QuestionType], [CreationDate]) VALUES (2, N'Q2', N'Hobbies?', 2, CAST(N'2018-10-16T19:01:49.863' AS DateTime))
INSERT [dbo].[QuestionsMaster] ([ID], [QuestionID], [QuestionLabel], [QuestionType], [CreationDate]) VALUES (3, N'Q3', N'Address?', 3, CAST(N'2018-10-16T19:14:20.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuestionsMaster] OFF
GO
ALTER TABLE [dbo].[QuestionOptions] ADD  CONSTRAINT [DF_QuestionOptions_CrDate]  DEFAULT (getdate()) FOR [CrDate]
GO
ALTER TABLE [dbo].[QuestionsMaster] ADD  CONSTRAINT [DF_ScrQuestions_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
